---
layout: main
---


<section class="exercises-overview">
<h1>Site content</h1>

<ul>
  <li>Weekly plans as <a href="{{site.baseurl}}/weekly-plans">html</a></li>
  <li>Exercises as <a href="{{site.baseurl}}/exercises">html</a></li>
  <li>Other docs as <a href="{{site.baseurl}}/other-docs">html</a></li>
  <li>Weekly plans, exercises and docs as <a href="{{site.baseurl}}/pdf">pdf files</a></li>
  <li><a href="{{site.baseurl}}/tags">Tags</a></li>
  <li><a href="{{site.baseurl}}/itsxml">ITS learning import XML</a></li>
</ul>

<h2>Links</h2>

<ul>
  <li>Project group on <a href="https://gitlab.com/21a-itt3-pcb-students-group">gitlab</a></li>
  <li>PCB ressource <a href="https://eal-itt.gitlab.io/21a-itt3-pcb/other-docs/links">links</a></li>
  <li>Orcad capture <a href="https://resources.orcad.com/orcad-capture-tutorials">tutorials</a></li>
  <li>Orcad PCB editor <a href="https://resources.orcad.com/orcad-pcb-editor-tutorials">tutorials</a></li>
  <li>Cadence OrCAD 17.2 <a href="https://youtube.com/playlist?list=PLDclr_SCaTAwUiJYgKDOUQvv6TJRj6fXx">PCB Design Tutorial for Beginners</a></li>
  <li>Nordcad student <a href="https://www.nordcad.eu/student-forum/">forum</a></li>
  <li>NISI orcad <a href="https://gitlab.com/npes/nisi-orcad-libraries">libraries</a></li>
  <li>NISI orcad <a href="https://gitlab.com/21a-itt3-pcb-students-group/itt3-pcb-nikolaj-simonsen">RPi hat project</a></li>

</ul>

</section>
